
.container {
    padding: .3rem .7rem;
    border-radius: 7px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.container:hover {
    transform: scale(1.03);
}

.fileIcon {
    height: 100%;
    font-size: 2rem;
    aspect-ratio: 1;
    justify-self: center;
}

.textGroup {
    display: flex;
    flex-direction: column;
}

.fileName {
    font-weight: 500;
}