
.container {
    max-width: 1100px;
    margin-inline: auto;
}

.pageTitle {
    font-size: var(--fs-h2);
    font-weight: var(--fw-semibold);
    display: flex;
    align-items: center;
}

.textBox {
    margin-block-start: 2rem;
    border: .3px solid black;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 100%;
}